@import 'tailwindcss';

:root {
    --primary-color: #c06c5b;
    --primary-bg: #e8e0de;
    --secondary-bg: #d8c7c4;
    --line-color: #bcaaa6;
    --primary-font-color: #2a1f1d;
    --secondary-font-color: #2a1f1d;
    --modal-bg: #dfdfdf;
}
:root[data-theme='dark'] {
    --primary-color: #b292ff;
    --primary-bg: #131313;
    --secondary-bg: #272727;
    --line-color: #b7adc5;
    --primary-font-color: #dfdfdf;
    --secondary-font-color: #e4e4e4;
    --modal-bg: #1a1a1a;
    --option-bg: #272727;
}

:root[data-theme='focus'] {
    --primary-color: #999999;
    --primary-bg: #121212;
    --secondary-bg: #333333;
    --line-color: #aaaaaa;
    --primary-font-color: #e0e0e0;
    --secondary-font-color: #121212;
    --modal-bg: #dfdfdf;
}

@theme {
    --color-base: var(--base);
    --color-primary-color: var(--primary-color);
    --color-primary-bg: var(--primary-bg);
    --color-secondary-bg: var(--secondary-bg);
    --color-line-color: var(--line-color);
    --color-primary-font-color: var(--primary-font-color);
    --color-secondary-font-color: var(--secondary-font-color);
    --color-modal-bg: var(--modal-bg);
    --font-primary-font: 'Lato', sans-serif;
}
