@import 'tailwindcss';

@import 'tailwindcss';

:root {
    --primary-color: #c06c5b;
    --primary-bg: #2e2e2e;
    --secondary-bg: #3a3a3a;
    --line-color: #4a4a4a;
    --primary-font-color: #f0f0f0;
}

:root[data-theme='light'] {
    --primary-color: #c06c5b;
    --primary-bg: #e8e0de;
    --secondary-bg: #d8c7c4;
    --line-color: #bcaaa6;
    --primary-font-color: #2a1f1d;
}

:root[data-theme='focus'] {
    --primary-color: #646464;
    --primary-bg: #121212;
    --secondary-bg: #1e1e1e;
    --line-color: #2a2a2a;
    --primary-font-color: #e0e0e0;
}

@theme {
    --color-base: var(--base);
    --color-primary-color: var(--primary-color);
    --color-primary-bg: var(--primary-bg);
    --color-secondary-bg: var(--secondary-bg);
    --color-line-color: var(--line-color);
    --color-primary-font-color: var(--primary-font-color);
    --font-primary-font: 'Lato', sans-serif;
}
